<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
    
        <title>BuyNSell | Product</title>
    
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
    
        <!-- Custom styles for this page -->
        <link rel="stylesheet" href="/css/products-grid-category.css">
    
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
            integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    </head>
    <body>
        <!--Header-->
    	<header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="/"><img src="/img/logo_62px.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <!-- when the login is valid-->
                        <% if(username != null){ %>
                        <li>
                            <a class="nav-link font-weight-bold" href="/dashboard"> Hi, <%= username %></a>
                        </li>
                        <% } %>
                        <!-- when the login is not valid-->
                        <li class="nav-item">
                            <% if(username == null){ %>
                            <a class="nav-link" href="/login">Login/Sign Up</a>
                            <% } %>
                        </li>
                        <li class="nav-item dropdown active">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Shop by Category
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item active" href="/category">All</a>
                                <a class="dropdown-item" href="/category_clothing">Clothing</a>
                                <a class="dropdown-item" href="/category_electronics">Electronics</a>
                                <a class="dropdown-item" href="/category_furnitures">Furnitures</a>
                                <a class="dropdown-item" href="/category_cars">Cars</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-4">
                        <li class="nav-item">
                            <% if(username != null){ %>
                            <a class="nav-link" href="/logout">Log out</a>
                            <!-- when logged in-->
                            <%} else {%>
                            <p></p>
                            <% } %>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <div class="input-group input-group-sm">
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                                placeholder="Search...">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-secondary btn-number">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <a class="btn btn-success btn-sm ml-3" href="/cart">
                            <i class="fa fa-shopping-cart"></i> Cart
                            <span class="badge badge-light">3</span>
                        </a>
                    </form>
                </div>
            </nav>
    	</header>

        <div class="container-fluid text-center" style="margin-top: 50px;">
            <div class="row content">
                <div class="col-sm-5">
                    <div class="container">
                        <!-- When product image exist -->
                        <% if(item.file_path != null) { %>
                        <img src= <%= item.file_path %> class="img-thumbnail">
                        <% } else {%>
                        <img src="/img/confused_travolta.jpg" class="img-thumbnail">
                        <% } %>
                    </div>
                </div>
                <div class="col-sm-7 text-left">
                    <div class="container">
                        <!--item_name-->
                        <% if(item.item_name != null) { %>
                        <h3><%= item.item_name %></h3>
                        <% } else{ %>
                        <h3>Product Name is Null</h3>
                        <% } %>
                        <!--post_by (seller information)-->
                        <% if(item.post_by != null) { %>
                        <p><%= item.post_by %></p>
                        <% } else { %>
                        <p>Seller's Name is Null</p>
                        <% } %>
                        <hr>
                        <!--price-->
                        <% if(item.price != null) { %>
                        <p>Price: <span style="color: darkred; font-size: 30px">$<%= item.price %></span></p>
                        <% } else{ %>
                        <p>Price: <span style="color: darkred; font-size: 30px">$Null</span></p>
                        <% } %>
                        <div class="container">
                            <button type="button" class="btn btn-warning">Dip!</button>
                            <button type="button" class="btn btn-primary">Contact Seller</button>
                            <button type="button" class="btn btn-danger">Like</button>
                        </div>
                        <p>Product Description:
                            <% if(item.description != null) { %>
                            <li><%= item.description %></li>
                            <% } else{ %>
                            <li>No description</li>
                            <% } %>
                        </p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row content">
                <p>(Dummy) Suggested Categories</p>
                <div class="row content" style="margin: auto">
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">&#60;</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">A</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">B</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">C</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">D</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">E</button>
                    </div>
                    <div class="col-sm-1 text-center">
                        <button type="button" class="btn btn-default">&#62;</button>
                    </div>
                </div>
            </div>
            <hr>

        </div>


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>BuyNSell &copy; 2019 &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>

        <!-- Optional JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
